.header {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 999;
    background: white;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
    display: flex;
    align-items: center;
}

.header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 33px;
}

.header__input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header__left > img {
    height: 40px;
}

.header__middle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__option {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 50px;
    border-radius: 10px;
}

.header__option:hover {
    background-color: #eff2f5;
}

.header__option > .MuiSvgIcon-root {
    color: gray;
}

.header__option--active {
    border-bottom: 4px solid #2e81f4;
  }
  

.header__option:hover > .MuiSvgIcon-root {
    color: #2e81f4;
}

.header__option--active > .MuiSvgIcon-root {
    color: #2e81f4;
}

.header__info {
    display: flex;
    align-items: center;
    margin-right: 10px;
    box-sizing: border-box;
    padding:  2px 7px 2px 2px;
    border-radius: 50px;
}

.header__info > h4 {
    margin-left: 10px;
}

.header__info:hover {
    background-color: #eff2f5;
}

.header__right {
    display: flex;
    align-items: center;
}
